@tailwind components;
@tailwind base;
@tailwind utilities;

@font-face {
  font-family: "Raleway, sans-serif";
  src: url("./assets/fonts/Raleway.ttf");
}

@layer utilities {
  .clip-path {
    clip-path: polygon(100% 0%, 100% 0, 100% 100%, 0% 100%);
  }
  .fancy-border-radius {
    border-radius: 35% 72% 51% 50% / 52% 42% 60% 52%;
  }
}

html {
  scroll-behavior: smooth;
  font-family: Raleway, Inter, Avenir, Helvetica, Arial, sans-serif;
}
